# Caso de Uso: RRHH Accidentalidad

Este es un ejemplo de un modelo de accidentalidad para Bimbo México. En este notebook vamos a generar las vistas y tablas que usaremos en este caso de uso. Para ello usaremos el kernel de **Teradata SQL**.

## Crear la conexión a Teradata Vantage

In [ ]:
%var systemName="Vantage POC", user="aoa_service", host="13.68.232.78", db="aoa_data"

In [ ]:
%addconnect name=${systemName}, user=${user}, host=${host}

In [ ]:
%connect ${systemName}

#### Establecemos la base de datos de Vantage

In [ ]:
DATABASE ${db}

## Crear datos de entrenamiento

Para ello crearemos una vista materializada únicamente con las columnas que usaremos en la fase de entrenamiento (features + target).

In [ ]:
REPLACE VIEW aoa_data.ACC_TRAIN AS
    SELECT
        ROW_NUMBER() OVER(ORDER BY edad_planta) AS id,
        estado_civil_jefe_CASADO_accidentes,
        nivel_Operativo_accidentes, 
        antiguedad_empresa_accidentes,
        masculino_planta,
        severidad_con_seguras_ci_dSegura,
        total_reportes_accidentes,
        severidad_con_Seguras_ci_cBajo,
        supervisor_planta,
        edad_planta,
        pais_COSTA_RICA_value_1_0,
        mes_anterior_value_1,
        accidentes_total_value_1,
        pais_COLOMBIA_value_1_0,
        pais_HONDURAS_value_1_0,
        lugar_de_trabajo_PLANTA_value_1_0,
        pais_VENEZUELA_value_1_0,
        pais_EL_SALVADOR_value_1_0,
        pais_PANAMA_value_1_0,
        ptarget
        FROM aoa_data.train_tbl;

In [ ]:
SELECT * FROM aoa_data.ACC_TRAIN;

## Crear datos de evaluación

Para ello crearemos una vista materializada únicamente con las columnas que usaremos en la fase de evaluación (features + target).

In [ ]:
REPLACE VIEW aoa_data.ACC_TEST AS
    SELECT
        ROW_NUMBER() OVER(ORDER BY edad_planta) AS id,
        estado_civil_jefe_CASADO_accidentes,
        nivel_Operativo_accidentes, 
        antiguedad_empresa_accidentes,
        masculino_planta,
        severidad_con_seguras_ci_dSegura,
        total_reportes_accidentes,
        severidad_con_Seguras_ci_cBajo,
        supervisor_planta,
        edad_planta,
        pais_COSTA_RICA_value_1_0,
        mes_anterior_value_1,
        accidentes_total_value_1,
        pais_COLOMBIA_value_1_0,
        pais_HONDURAS_value_1_0,
        lugar_de_trabajo_PLANTA_value_1_0,
        pais_VENEZUELA_value_1_0,
        pais_EL_SALVADOR_value_1_0,
        pais_PANAMA_value_1_0,
        ptarget
        FROM aoa_data.train_tbl;

In [ ]:
SELECT * FROM aoa_data.ACC_TEST;

Copyright 2021 Teradata. All rights reserved.